@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nova+Mono&family=Nova+Round&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

@theme {
  --font-serif: "Lora", "serif";
  --font-sans: "Lexend", "sans-serif";
  --font-mono: "Nova Mono", "monospace";
}
